margint padding:

bex-sizingi sarcer-bes

body

dtaplay: fles

justify-content: center;

atige stems: center; ints-height: 1e

background w

font-family: Verdana, Games, Tahoma, sans-serif;

Seight: 100%; utath: 100%;

text-aliom centers font-size:

celor: #944361

nargin: 150x

CSS

Code Sphere

+

υτότη: 100%;

height:

Utaplay: flex

justify-content: center;

margin-top: 5px;

button (

poitus absolute;

width: 150px;

height: inherit; colors witte; fants 1.2m;

border-radius:

outline: none;

corsor: pointer; box-shadow: 2px 3px gray) border: 2px solid #ed

font-size: 12

buttoninth-chil

nargin-left: 200x background: #4453;

buttmunth-child(2)(

nargin-right: 200px

backgrounds u

color: #94458;